{% extends "base.html" %} 

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>GCP Patients</title>
</head>
<body>
    <h1>GCP Patients</h1>
    <table class="border-collapse border border-gray-400">
        <tr>
            <th class="border border-gray-400 p-2">ID</th>
            <th class="border border-gray-400 p-2">First Name</th>
            <th class="border border-gray-400 p-2">Last Name</th>
            <th class="border border-gray-400 p-2">Date of Birth</th>
            <th class="border border-gray-400 p-2">Gender</th>
            <th class="border border-gray-400 p-2">Contact Number</th>
        </tr>
        {% for patient in patients %}
        <tr>
            <td class="border border-gray-400 p-2">{{ patient.id }}</td>
            <td class="border border-gray-400 p-2">{{ patient.first_name }}</td>
            <td class="border border-gray-400 p-2">{{ patient.last_name }}</td>
            <td class="border border-gray-400 p-2">{{ patient.date_of_birth }}</td>
            <td class="border border-gray-400 p-2">{{ patient.gender }}</td>
            <td class="border border-gray-400 p-2">{{ patient.contact_number }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>

{% endblock %}
