{% extends "base.html" %}

{% block content %}
    <h1>GCP Medical Records</h1>
    <table class="border-collapse border border-gray-400">
        <tr>
            <th class="border border-gray-400 p-2">Record ID</th>
            <th class="border border-gray-400 p-2">Patient ID</th>
            <th class="border border-gray-400 p-2">Diagnosis</th>
            <th class="border border-gray-400 p-2">Treatment</th>
            <th class="border border-gray-400 p-2">Admission Date</th>
            <th class="border border-gray-400 p-2">Discharge Date</th>
        </tr>
        {% for record in records %}
        <tr>
            <td class="border border-gray-400 p-2">{{ record.id }}</td>
            <td class="border border-gray-400 p-2">{{ record.patient_id }}</td>
            <td class="border border-gray-400 p-2">{{ record.diagnosis }}</td>
            <td class="border border-gray-400 p-2">{{ record.treatment }}</td>
            <td class="border border-gray-400 p-2">{{ record.admission_date }}</td>
            <td class="border border-gray-400 p-2">{{ record.discharge_date }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

